 /* Student life page begins */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Teko', sans-serif;
    background: #f1fbff;
    width: 100%;
    min-height: 100vh;  
    height: 1000vh;  
}
.logo{
    position: fixed;
    z-index: 9999;
    left: 10px;
  top: 0px;
}

nav{
    text-align: center;
}

nav .firstnav{
    position: fixed;
    z-index: 9999;
  top: 0px;
  width: 80%;
  height: 40px;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(83, 163, 64);
  border-radius: 5px;
  right: 0px;
}

nav .secondnav{
    position: fixed;
    z-index: 9999;
  top: 40px;
  width: 70%;
  height: 40px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(71, 118, 59);
  border-width: 1px;
  border-radius: 5px;
  right: 0px;
}

nav ul{
    display: inline-flex;
    list-style: none;
}

nav ul li{
    width: 120px;
    margin: 5px;
    padding: 5px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

ul li a:hover { 
    background-color: #98db86;
     border-radius: 5px;
    display: block;
}

.sub-nav{
    display: none;
}

nav .secondnav ul li:hover .sub-nav{
    display: block;
    position: absolute;
    background-color:rgb(71, 118, 59) ;
    margin-top: 15px;
    margin-left: -15px;
}

nav .secondnav ul li:hover .sub-nav ul{
    display: block;
    margin: 10px;
}
nav .secondnav ul li:hover .sub-nav ul li{
    width: 100px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: center;
    border-bottom: 1px solid #ffff;
}   

nav .secondnav ul li:hover .sub-nav ul li:last-child{
    border-bottom: none;
}

nav .secondnav ul li:hover .sub-nav ul li a:hover{
    color: #b2ff00;
}

.wrapper{
    width: 80%;
    padding: 30px 0;
    text-align: center;
    top: 80px;
}
.section-header{
    text-transform: uppercase;
    line-height: 70px;
    padding-bottom: 30px;
    font-size: 50px;
    color: #262626;
    letter-spacing: 2px;
    
}
.content {
  padding: 10%;
}
.content h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content p {
  line-height: 1.5;
}
.main-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-main-content-gap: 25px;
    grid-column-gap: 15px;
}
.main-content .box{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    height: 250px;
    overflow: hidden;    
}
.main-content .box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.main-content .box:hover:before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 10;
}
.main-content .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content .box .img-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    transition: all 0.5s ease-in-out;   
}
.main-content .box:hover .img-text{
    top: 0;
    right: 0;
}

/*Student life page ends */

/*Alumni page begin*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-A{
    width: 100%;
    height: 100vh;
    background: #e8ecff;
    position: relative;
}
.veiw-box{
    width: 900px;
    height: 650px;
    border-radius: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;    
}
#testimonials{
    display: flex;
    transition: 0.5s;


}
.user{
    width: 800px;
    text-align: center;
    padding: 70px 90px;
    box-sizing: border-box;
    background: #CCF1D2;
    border-radius: 50px;
    box-shadow: 0 10px 20px -5px #00000061;
    position: relative;
}

.space{
    margin: 0 70px;
}
.user img{
    width: 200px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #e8ecff;
    position: absolute;
    top: -60px;
    left: 10%;
    transform: translateX(-50%);
}
.user p{
    font-size: 22px;
    color: #000;
    line-height: 32px;
    margin: 60px 0 30px;
    margin-left: 115px;
}
.user p::before{
   /* content: '\201C';*/
    font-size: 120px;
    height: 0;
    display: inline-block;
    vertical-align: -57;
    margin-right: 10px;
}
.user p::after{
  /*  content: '\201D'; */
    font-size: 120px;
    height: 0;
    display: inline-block;
    vertical-align: -70;
    margin-left: 10px;
}
.user h3{
    font-size: 26px;
    color: #000;
}
.controls{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.controls span{
    width: 15px;
    height: 15px;
    background: #316033;
    border-radius: 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}
.active{
    width: 45px !important;
}

body{
    background-color: #e8ecff2;
}

.container{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
.container .card{
    width: 330px;
    padding: 15px;
    background: #CCF1D2;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0 10px 20px -5px #00000061;
}

.container .card i{
    font-size: 25px;
    color: #5D8700;
}

.container .card p{
    margin: 15px 0;
}

.container .card img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid  #316033;
}

@media (max-width:660px){
    .container .card{
        margin: 0 0 15px 0;
    }
}
/*Alumni page end */

/* Extracuricular page begins */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Teko', sans-serif;
    background: #f1fbff;
    width: 100%;
    min-height: 100vh;    
}
.wrapper{
    width: 80%;
    padding: 30px 0;
    text-align: center;
}
.section-header{
    text-transform: uppercase;
    line-height: 70px;
    padding-bottom: 30px;
    font-size: 50px;
    color: #262626;
    letter-spacing: 2px;
    
}
.content {
  padding: 10%;
}
.content h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content p {
  line-height: 1.5;
}
.main-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-main-content-gap: 25px;
    grid-column-gap: 15px;
}
.main-content .box{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    height: 250px;
    overflow: hidden;    
}
.main-content .box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.main-content .box:hover:before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 10;
}
.main-content .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content .box .img-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    transition: all 0.5s ease-in-out;   
}
.main-content .box:hover .img-text{
    top: 0;
    right: 0;
}

/* Extracuricular page ends */

/*AboutUs page Begin*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #d3f6b5;
  color: #000000;
}

.container{
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #114105;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #53A340;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
/*AboutUs page finished */
/*GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior:  smooth;
    box-sizing: border-box; 
}
 body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:  #114105;
    background: #fff;
 }
 .container-wrapper{
    background-color: #000;
    margin: 200px 200px;
    padding: 50px 50px;
 }
 .contact-container{
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:  1.5rem;
    background:  #d3f6b5;
    box-shadow:  0 0 1rem hsla(0 0 0 / 16%);
    border-radius: 0.5rem;
    over-flow:  hidden;
    opacity: 75%;

}
.form-container {
    padding:  20px;
}
.form-container h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom:  1rem;
}
.contact-form{
    display: grid;
    row-gap: 1rem;
}
.contact-form input{
    width: 100%;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px;
    font-size: 0.9rem;
    color: #000;
    border-radius: 0.4rem;
}
.contact-form text-area{
    resize: none;
    height: 200px;
}
.contact-form .send-button{
    border: none;
    outline: none;
    background: #114105;
    font-size:  1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-form .send-button:hover{
    background: hsl(181, 100%, 44%, 0.8);
    transition: 0.3s all linear;
}
.Map iframe{
    width: 100%;
    height: 100%;
}
/* Making the page Responsive */
@media (max-width: 964px) {
    .contact-container {
        margin:  0 auto;
        width: 90%;
    }
}
@media (max-width: 700px){
    .contact-container{
        grid-template-columns: 1fr;
        gap: 1rem ;
        margin-top: 20rem !important;
    }
    .Map iframe{
        height: 400px;
    }
}
/*Contact us page finished */